.cmodal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.cmodal-content{
    width: 700px;
    margin: auto;
}

.controls button{
    width: 150px;
}
.controls{
    margin-top: 15px;
    text-align: right;
}

#pizza-crust #pizza-sauce #non-meat-toppings{
  border-left: black solid 1px;
}

